<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.t09ether.home.dao.OfflineDAO">
	<insert id="offlineInsert">
		insert into	off_gb(off_no, userid, off_subject, off_content,location,group_num,current_num, app_time,deaddate,off_hit,writedate)
		values(off_no_sq.nextval,#{userid},#{off_subject},#{off_content},
		#{location},${group_num},${current_num},#{app_time},#{deaddate},${off_hit},#{writedate})
	</insert>
	<select id="totalRecord" resultType="int">
		select count(off_no) totalRecord from off_gb		
	</select>
	<select id="offList" resultType="com.t09ether.home.dto.OfflineDTO">
		select * from off_gb order by off_no desc
	</select>
	
</mapper>